<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <% if (loggedInUser) { %>
                <li><a href="/logout">Logout</a></li>
            <% } else { %>
                <li><a href="/login">Login</a></li>
            <% } %>
        </ul>
    </nav>

    <h1>Welcome <%= loggedInUser || "Guest" %>!</h1>
</body>
</html>














<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>
    <h1><%= name %></h1>
    <h1>Welcome to <%= destination %></h1>
    <p><%= greeting %></p>
    <a href="/todo">Go to Todo List</a>
    <h1>Profile of </h1>
</body>
</html> -->